extends layout

block content
  div#scrolla
    each drip in dope
      div.post
        h1= drip.title
        ul
        div.ments
          each ment in drip.ments
            li.ment= ment
      
